<div class="container mt-4">
    <div class="row">
        <div class="container-slide">
            <a href="" class="icon_left">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            <div style="display: none;" class="container-slide__img">
                <img src="/img/slide1.webp" alt="Image 1">
            </div>
            <div style="display: none;" class="container-slide__img">
                <img src="/img/slide2.webp" alt="Image 2">
            </div>
            <div style="display: none;" class="container-slide__img">
                <img src="/img/slide3.webp" alt="Image 3">
            </div>
            <div style="display: none;" class="container-slide__img">
                <img src="/img/slide4.webp" alt="Image 4">
            </div>
            <a href="" class="icon_right">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>

<ul class="header__sort-bar">
    <li class="header__sort-item">
        <a href="#caffee" class="text header__sort-link">Coffee</a>
    </li>
    <li class="header__sort-item">
        <a href="#juice" class="text header__sort-link">Nước ép</a>
    </li>
    <li class="header__sort-item">
        <a href="#tea" class="text header__sort-link">Trà</a>
    </li>
    <li class="header__sort-item">
        <a href="#yaourt" class="text header__sort-link">Sữa chua</a>
    </li>
    <li class="header__sort-item">
        <a href="#smoothie" class="text header__sort-link">Sinh tố</a>
    </li>
</ul>

<div class="container mt-4">
    <div class="row">
         <div class="col-3 d-none d-md-block col-md-3 col-xl-3">
            <div class="row">
               <div class="container-cate">
                <div class="cate">
                 <div class="cate-heading">
                    <p class="text-big">Danh mục</p>
                </div>
                <ul>
                    <li class="cate-item"><a href="#caffee">Coffee</a></li>
                    <li class="cate-item"><a href="#juice">Nước ép</a></li>
                    <li class="cate-item"><a href="#tea">Trà</a></li>
                    <li class="cate-item"><a href="#yaourt">Sữa chua</a></li>
                    <li class="cate-item"><a href="#smoothie">Sinh tố</a></li>
                </ul>
               </div>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-9 col-xl-9">
            <div class="row">
            <div id="caffee" class="row">
                <p class="type-item">Coffee</p>
            </div>
            {{#each coffee}}
                <div class="col-6 col-sm-6  col-md-4 col-lg-3">      
                    <div class="card-container">
                        <div class="card card-img">
                            <img src="{{this.img}}" class="card-img-top" alt="{{this.name}}">
                        </div>
                        <div class="card-body card-text">
                            <p class="card-text text-sm display-center">{{this.name}}</p>
                        </div>
                        <div class="card-body card-text">
                            <p class="price text-sm display-center" style="color: red;">{{this.price}} VND</p>
                        </div>
                    </div>          
                </div>
            {{/each}}
            </div>
             <div id="juice" class="row mt-4">
                <p class="type-item">Juice</p>
            {{#each juice}}
                <div class="col-6 col-lg-3 col-md-4 col-sm-6">      
                    <div class="card-container">
                        <div class="card card-img">
                            <img src="{{this.img}}" class="card-img-top" alt="{{this.name}}">
                        </div>
                        <div class="card-body card-text">
                            <p class="card-text text-sm display-center">{{this.name}}</p>
                        </div>
                        <div class="card-body card-text" >
                            <p class="price text-sm display-center" style="color: red;">{{this.price}}</p>
                        </div>
                    </div>          
                </div>
            {{/each}}
            </div>
             <div id="tea" class="row mt-4">
                <p class="type-item">Tea</p>
            {{#each tea}}
                <div class="col-6 col-lg-3 col-md-4 col-sm-6">      
                    <div class="card-container">
                        <div class="card card-img">
                            <img src="{{this.img}}" class="card-img-top" alt="{{this.name}}">
                        </div>
                        <div class="card-body card-text">
                            <p class="card-text text-sm display-center">{{this.name}}</p>
                        </div>
                        <div class="card-body card-text" >
                            <p class="price text-sm display-center" style="color: red;">{{this.price}} VND</p>
                        </div>
                    </div>          
                </div>
            {{/each}}
            </div>
            <div id="yaourt" class="row mt-4">
                <p class="type-item">Yaourt</p>
            {{#each yaourt}}
                <div class="col-6 col-lg-3 col-md-4 col-sm-6">      
                    <div class="card-container">
                        <div class="card card-img">
                            <img src="{{this.img}}" class="card-img-top" alt="{{this.name}}">
                        </div>
                        <div class="card-body card-text">
                            <p class="card-text text-sm display-center">{{this.name}}</p>
                        </div>
                        <div class="card-body card-text" >
                            <p class="price text-sm display-center" style="color: red;">{{this.price}} VND</p>
                        </div>
                    </div>          
                </div>
            {{/each}}
            </div>
             <div id="smoothie" class="row mt-4">
                <p class="type-item">Smoothie</p>
            {{#each smoothie}}
                <div class="col-6 col-lg-3 col-md-4 col-sm-6">      
                    <div class="card-container">
                        <div class="card card-img">
                            <img src="{{this.img}}" class="card-img-top" alt="{{this.name}}">
                        </div>
                        <div class="card-body card-text">
                            <p class="card-text text-sm display-center">{{this.name}} VND</p>
                        </div>
                        <div class="card-body card-text" >
                            <p class="price text-sm display-center" style="color: red;">{{this.price}}</p>
                        </div>
                    </div>          
                </div>
            {{/each}}
            </div>
         </div>
    </div>
</div>

