<div class="container__revenue">
    <h1 class="revenue__title">Báo cáo doanh số</h1>
    <div class="overview">
        <div class="card card--purple">
            <h2 class="card__title">Tổng doanh thu</h2>
            <p class="card__percent">{{totalRevenue}} VND</p>
        </div>
        <div class="card card--blue">
            <h2 class="card__title">Tổng sản phẩm đã bán</h2>
            <p class="card__percent">{{totalQuantity}}</p>
        </div>
        <div class="card card--cyan">
            <h2 class="card__title">Doanh thu theo ngày</h2>
            <p class="card__percent">{{dailyRevenue}} VND</p>
        </div>
        <div class="card card--orange">
            <h2 class="card__title">Doanh thu theo tuần</h2>
            <p class="card__percent">{{weeklyRevenue}} VND</p>
        </div>
        <div class="card card--green">
            <h2 class="card__title">Doanh thu theo tháng</h2>
            <p class="card__percent">{{monthlyRevenue}} VND</p>
        </div>
    </div>

    <div class="revenue">
        <div class="revenue__advance">
            <h2 class="revenue__advance-title">Tìm kiếm nâng cao:</h2>
            <div class="revenue__advance-content">
                <form action="/admin/revenue/" method="get">
                <label for="startDate">Ngày bắt đầu:</label>
                <input type="date" id="startDate" name="startDate" value="{{startDate}}" required>
                <label for="endDate">Ngày kết thúc:</label>
                <input type="date" id="endDate" name="endDate" value="{{endDate}}" required>
                <button type="submit">Tính toán</button>
            </form>
            </div>
            <div class="revenue__advance-result">
                <h2>Doanh thu từ {{#if startDate}} {{startDate}} {{else}}____ {{/if}} đến {{#if endDate}} {{endDate}} {{else}}____ {{/if}}:</h2>
                <p>{{dateRangeRevenue}} VND</p>
            </div>
        </div>
        <div class="topProduct">
            <h2 class="topProduct__title">Top 5 sản phẩm bán chạy</h2>
            <ul>
                {{#each topSellingProducts}}
                    <li class="topProduct__item">{{this.name}} - {{this.quantity}} đã bán</li>
                {{/each}}
            </ul>
        </div>
        <div class="" style="height: 30px;">

        </div>
    </div>
</div>

<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}
.container__revenue {
    background-color: #fff;
}
.overview {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 50px;
    border-radius: 8px;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 200px;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card__percent {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 0;
    border-radius: 4px;
    display: block;
    margin: auto 0 0;
}

.card--purple {
    background-color: #6a1b9a;
}

.card--blue {
    background-color: #1976d2;
}

.card--cyan {
    background-color: #00acc1;
}

.card--orange {
    background-color: #fb8c00;
}

.card--green {
    background-color: #28a745;
}

.revenue {
    margin: 50px auto;
    padding: 0px 50px;
    background-color: #fff;
    border-radius: 8px;
}

.revenue__title {
    text-align: center;
    font-size: 30px;
    margin-top:30px;
    padding-top: 50px;
    color: #007bff;
}

.revenue__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.revenue__total-title {
    font-size: 18px;
    font-weight: bold;
}

.revenue__total-result {
    font-size: 18px;
    color: #28a745;
}

.revenue__advance {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.revenue__advance-title {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.revenue__advance-content {
}

.revenue__advance form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.revenue__advance label {
    flex: 1 1 100px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.revenue__advance input {
    flex: 2 1 200px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.revenue__advance button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.revenue__advance button:hover {
    background-color: #0056b3;
}

.revenue__advance-result {
    margin-top: 10px;
    font-size: 18px;
    color: #dc3545;
    display: flex;
    justify-content: center;
}

.revenue__advance-result h2{
    font-size: 18px; 
}

.topProduct {
    margin: 30px 0px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.topProduct__title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.topProduct ul {
    list-style-type: none;
    padding: 30px;

}

.topProduct__item {
    font-size: 16px;
    padding: 5px 0;
    {{!-- border-bottom: 1px solid #ccc; --}}
}

.topProduct__item:last-child {
    border-bottom: none;
}

</style>